<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group">
    <button type="button"
            class="btn btn-default"
            ng-click="$ctrl.$index = !$ctrl.$index"
            ng-class="{'well-showing-left': $ctrl.$index == true}"
          >
          {{$ctrl.createName($ctrl.record.safetyReportId)}} |
          Sex: {{$ctrl.convertSexDisplay($ctrl.ageAndNameCheck($ctrl.record.patient.sex))}} |
          Age: {{$ctrl.ageAndNameCheck($ctrl.record.patient.age)}}
    </button>
  </div>
  <div class="btn-group w1">
    <a type="button"
       class="btn btn-info"
       href="/edit/{{$ctrl.record._id}}"
      >
      Edit
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
  </div>
  <div class="btn-group w1">
    <button type="button"
            class="btn btn-delete"
            ng-class="{'well-showing-right': $ctrl.$index == true}"
            ng-click="$ctrl.deletePatient($ctrl.record._id)"
          >
        Delete
        <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>
</div>
<div uib-collapse="$ctrl.collapseToggle($ctrl.$index)">
  <div class="well">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-4">
        Receive: {{$ctrl.changeDateFormat($ctrl.record.receiveDate)}}
      </div>
      <div class="col-sm-offset-1 col-sm-4">
        Receipt: {{$ctrl.changeDateFormat($ctrl.record.receiptDate)}}
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <patient-drugs-component data="$ctrl.record.patient.drugs" title="Drugs"></patient-drugs-component>
      </div>
      <div class="col-sm-6">
        <patient-reactions-component data="$ctrl.record.patient.reaction" title="Reaction"></patient-reactions-component>
      </div>
    </div>
  </div>
</div>
